extends base
block content 
    -
        var foodCategories = [ "fruits", "vegetables", "grains", "dairy", 
            "beverages",
            "seafood",
            "fish",
            "rice",
            "spice",
            "bean",
            "sauce",
            "soups",
            "oil",
            "others",
            "meat"];
    mixin error_msg(type)
        if message
            if message[type]
                span.text-danger=message[type].msg
    .row
        .col-lg-6.offset-3
            .card
                .card-body 
                    .card-title
                        h3.text-center.title-2= title
                    hr


                    form(action=`${isUpdate ? "/admin/ingredient-update" : "/admin/ingredient-form"}` method=`post` novalidate='novalidate')
                        input(name="id" type="hidden"  value=`${isUpdate ? ingredient._id : ""}`)
                        input(name="page" type="hidden"  value=`${page}`)
                        .form-group
                            label.control-label.mb-1(for='name') Ingredients Name
                            input#name.form-control(name='name' type='text' aria-required='true' aria-invalid='false' autocomplete="off" value=`${isUpdate ? ingredient.name : oldData ? oldData.name : ""}` required)
                            +error_msg("name")
                        .form-group
                            label.control-label.mb-1(for='price') Price
                            input#price.form-control(name='price' type='text' aria-required='true' aria-invalid='false' autocomplete="off" value=`${isUpdate ? ingredient.price :  oldData  ? oldData.price : ""}` required)
                            +error_msg("price")
                        .form-group
                            label.control-label.mb-1(for='imageUrl') Image Url
                            input#imageUrl.form-control(name='imageUrl' type='text' aria-required='true' aria-invalid='false' autocomplete="off" value=`${isUpdate ? ingredient.imageUrl :  oldData  ? oldData.imageUrl : ""}` required)
                            +error_msg("imageUrl")
                        .form-group
                            label.control-label.mb-1(for='rating') Rating
                            input#rating.form-control(name='rating' type='number' aria-required='true' aria-invalid='false' autocomplete="off" value=`${isUpdate ? ingredient.rating : oldData  ? oldData.rating : ""}` required)
                            +error_msg("rating")
                        .form-group
                            label.control-label.mb-1(for='category') Category
                            //- input#rating.form-control(name='category' type='text' aria-required='true' aria-invalid='false' autocomplete="off" value=`${isUpdate ? ingredient.category : oldData  ? oldData.category : ""}` required)
                            select.form-control#foodCategorySelect(name="category")
                                each category in foodCategories
                                    option.form-control(value=category selected=(category === `${isUpdate ? ingredient.category : oldData  ? oldData.category : ""}`))= category
                            +error_msg("category")
                        .form-group
                            label.control-label.mb-1(for='quantity') Quantity
                            input#quantity.form-control(name='quantity' type='number' aria-required='true' aria-invalid='false' autocomplete="off" value=`${isUpdate ? ingredient.quantity : oldData  ? oldData.quantity : ""}` required)
                            +error_msg("quantity")
                        .form-group
                            label.control-label.mb-1(for='description') Description
                            input#description.form-control(name='description' type='text' aria-required='true' aria-invalid='false' autocomplete="off" value=`${isUpdate ? ingredient.description : oldData  ? oldData.description : ""}` required)
                            +error_msg("description")
                        div
                            button#payment-button.btn.btn-lg.btn-info.btn-block(type='submit')
                                span#payment-button-amount Create
                                span#payment-button-sending(style='display:none;') Sending&mldr;
                                i.fa-solid.fa-circle-right